.home-content {
    //  border: 1px solid red;
    h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    font-size: 1.4rem;
    line-height: 2.2rem;
    figure {
        margin-top: 2rem;
    }
}