 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 /**/
 
 // @import "./css/adminlite.min.css";
 // @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
 /**/
 
 // Required
 //  @import "node_modules/bootstrap/scss/functions";
 //  @import "node_modules/bootstrap/scss/variables";
 //  @import "node_modules/bootstrap/scss/mixins";
 //  // Optional
 //  @import "node_modules/bootstrap/scss/reboot";
 //  @import "node_modules/bootstrap/scss/type";
 //  @import "node_modules/bootstrap/scss/images";
 //  @import "node_modules/bootstrap/scss/code";
 //  @import "node_modules/bootstrap/scss/grid";
 /* @import './tailwind.output.css'; */
 
 @import "node_modules/bootstrap/scss/bootstrap";
 .loading {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     height: 100vh;
     text-align: center;
 }
 
 .loading .App-loader {
     margin-bottom: 2rem;
 }
 
 figure {
     &.aligncenter {
         text-align: center;
         img {
             margin-left: auto;
             margin-right: auto;
         }
     }
 }
 /*
:root {
    --red: #f00530;
    --blue: #3005f0;
    --color: #212121;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.2;
    color: var(--color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
.product-link {
    font-family: 'Anton', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    background: #f00530;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.8;
    transition: opacity 0.65s ease;
    font-size: 1.8rem;
    font-weight: 400;
}

.btn:hover {
    opacity: 1;
}
*/
 /**/
 
 .font-family-karla {
     font-family: karla;
 }
 
 .bg-sidebar {
     background: #3d68ff;
 }
 
 .cta-btn {
     color: #3d68ff;
 }
 
 .upgrade-btn {
     background: #1947ee;
 }
 
 .upgrade-btn:hover {
     background: #0038fd;
 }
 
 .active-nav-link {
     background: #1947ee;
 }
 
 .nav-item:hover {
     background: #1947ee;
 }
 
 .account-link:hover {
     background: #3d68ff;
 }
 /* ADMIN */
 
 .login {
     background: url(./images/login-new.jpeg);
 }
 
 .border-side-nav {
     border-color: #ECF0F1;
 }
 
 .bg-side-nav {
     background-color: #ECF0F1;
 }